img {
  box-shadow: 0px 5px 5px lightslategray;
  background-color: white;
  /* mimic photo frame effect */

  padding: 1rem;
  max-width: 95%;

  display: grid;
  margin: 0 auto;
  margin-bottom: 2em;
  /* center my pics */
}

.imgframe {
  height: 300;
  width: 300;
}
